<h1>Search for Flights</h1>

<%= form_with url: '/flights', method: :get do |f| %>
  <div>
    <%= f.label :departure_airport, "from where?" %>
    <%= f.select :departure_airport, @airport_options, { prompt: "Select Airport" } %>
  </div>

  <div>
    <%= f.label :arrival_airport, "to where?" %>
    <%= f.select :arrival_airport, @airport_options, { prompt: "Select Airport" } %>
  </div>

  <div>
    <%= f.label :flight_date %>
    <%= f.select :flight_date, @flight_dates, { prompt: "Pick a Date" } %>
  </div>

  <div>
    <%= f.label :no_of_passengers %>
    <%= f.select :no_of_passengers, [1, 2, 3, 4] %>
  </div>

  <div>
    <%= f.submit "Find Flights!" %>
  </div>
<% end %>

<h2>Next Step</h2>

<%= form_with url: "/bookings/new", method: :get do |f| %>
  <div>
    <%= f.label :selected_flight_id, "Available Flights" %>
    <%= f.collection_radio_buttons :selected_flight_id, @found_flights, :id, :info %>
  </div>
  <%= f.hidden_field :no_of_passengers, value: params[:no_of_passengers] %>
  <%= f.submit "Book Flight" %>
<% end %>